body {
  margin: 10%;
  

  background: rgb(166, 166, 153);
  background-image: url("https://img.freepik.com/free-photo/yellow-list-top-view_23-2148475388.jpg?w=2000");
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav{
  
  /* margin-top: 20px; */
  background-color: black;
  height: 100px;
  
  

}
.link{
  padding-left: 50%;
  color: goldenrod;
   
}
.wel{
  text-align: center;
  font-family:monospace;
  border: 10px solid black;
}
.btn2{
  margin-left: 80%;
  padding: 20px;
  background-color: goldenrod;
  border-radius: 20px;
}

.form1{
  margin-left: 80%;
  
}

.form{
  text-align: center;
  margin: 10%;

}

.input{
  border-radius: 10px;
  padding: 20px;
  margin-top: 10px;
  border: 3px solid goldenrod;
  
  
  

}
.btn3{
  border-radius: 10px;
  padding: 20px;
  width: 100px;
  height: 50px;
  margin-top: 20px;
}
.card{
  border-radius: 20px;
  margin-bottom: 20px;
  border: 10px solid goldenrod;
  color: beige;
  background: black;
  
}
